{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="h-screen bg-gray-900">
    <a href="{%url 'index'%}">
        <img class="w-40" src="../../../static/logo.png" alt="logo">
    </a>
    <div class="my-1 flex items-center justify-center content-center text-white bg-gray-900">
        <div style="padding: 2rem;"
            class="p-4 w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <p class="font-bold text-center text-xl mb-2"> {{ message }}</p>
            <p class="font-bold text-center text-l mb-2">Resposta correta: {{ correct_answer }}</p>
            <p class="text-center text-l mb-2">Explicação: {{ explanation }}</p>
            <p class="text-center text-l mb-2">Pontuação : {{ score }}</p>
            <div class="w-full text-center">
                <a class="text-l text-center mb-2 button" href="{% url 'index_game' user_id%}">
                    <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Nova pergunta</button>
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}