{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="h-screen flex items-center justify-center content-center text-black">
        <div class="p-4">
            <p class="text-center text-xl mb-2">Pergunta: {{ question }}</p>
            <p class="text-center text-xl mb-2"> {{ message }}</p>
            <p class="text-center text-xl mb-2">Resposta correta: {{ correct_answer }}</p>
            <p class="text-center text-xl mb-2">Explicação: {{ explanation }}</p>
            <button class="w-full text-black bg-black hover:text-purple-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                <a class="text-xl mb-2 button" href="{% url 'index_game' user_id%}">Nova pergunta</a>
            </button>
        </div>
    </div>
{% endblock %}